@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply max-w-screen-lg mx-auto;
  }
}

@layer utilities {
  .dark-text {
    @apply dark:text-neutral-300;
  }

  .light-text {
    @apply text-neutral-950;
  }

  .dark-bg {
    @apply dark:bg-gray-900;
  }

  .lgiht-bg {
    @apply bg-gray-300;
  }

  .hover-color {
    @apply hover:text-green-700 dark:hover:text-[#9cff9c];
  }

  .md-default {
    @apply [&_img]:rounded-md [&_img]:mx-auto [&_pre]:rounded-md;
  }

  .md-todo {
    @apply [&_ul]:pl-5 [&_li]:my-1;
  }

  .md-table {
    @apply [&_table]:w-full [&_th]:px-4 [&_th]:py-2 [&_th]:text-left [&_th]:border-b [&_td]:px-4 [&_td]:py-2;
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a:hover,
button:hover {
  @apply text-green-700 dark:text-[#9cff9c];
}

pre {
  overflow-x: auto;
  padding: 1rem 0;
}

pre [data-line] {
  padding: 0 1rem;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

code [data-highlighted-line-id="inserted"] {
  color: #0f0;
  background-color: rgba(0, 255, 0, 0.1);
}

code [data-highlighted-line-id="deleted"] {
  color: #f00;
  background-color: rgba(255, 0, 0, 0.1);
}
